html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: #FFFFFF;
    font-family: "Open Sans", Aria, "Helvetica Neue", Helvetiaca, "sans-serif";
    font-size: 14px;    
    color: #646464;
    line-height: 1.5;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    
}

.MaviAlanMenusu a:link,.MaviAlanMenusu a:hover,.MaviAlanMenusu a:active ,.MaviAlanMenusu a:visited{
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetiaca, "sans-serif";
    font-size: 14px;    
    color: #FFFFFF;
    line-height: 1.5;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
}

.AltMenu a:link,.AltMenu a:hover,.AltMenu a:active ,.AltMenu a:visited{
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetiaca, "sans-serif";
    font-size: 14px;    
    color: #646464;
    line-height: 1.5;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
}

/*.altfooter {
   position:absolute;
   bottom:0;
   width:100%;
   height:120px;    footer yüksekliði 
   background:#6cf;
   text-align:center;
}*/

.InputAlanlari{
    width:95%;
    height:30px;
    padding: 0px 10px;
}

.TextAreaAlanlari{
    width:95%;
    height:100px;
    padding: 10px 10px;
}

.YesilButon{
    height:30px;
    border: 1px solid #00FF00;
    background: #009900;
    padding: 10px 10px;
    color: white;
}

.YesilButon:hover{
    height:30px;
    border: 1px solid #009900;
    background: #00FF00;
    padding: 10px 10px;
    color: black;
    cursor: pointer;
}