html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: #FFFFFF;
    font-family: "Open Sans", Aria, "Helvetica Neue", Helvetiaca, "sans-serif";
    font-size: 14px;    
    color: #646464;
    line-height: 1.5;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    
}

.MaviAlanMenusu a:link,.MaviAlanMenusu a:hover,.MaviAlanMenusu a:active ,.MaviAlanMenusu a:visited{
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetiaca, "sans-serif";
    font-size: 14px;    
    color: #FFFFFF;
    line-height: 1.5;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
}

.AltMenu a:link,.AltMenu a:hover,.AltMenu a:active ,.AltMenu a:visited{
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetiaca, "sans-serif";
    font-size: 14px;    
    color: #646464;
    line-height: 1.5;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
}

.InputAlanlari{
    width:95%;
    height:30px;
    padding: 0px 10px;
}

.TextAreaAlanlari{
    width:95%;
    height:100px;
    padding: 10px 10px;
}

.YesilButon{
    height:30px;
    border: 1px solid #00FF00;
    background: #009900;
    padding: 10px 10px;
    color: white;
}

.YesilButon:hover{
    height:30px;
    border: 1px solid #009900;
    background: #00FF00;
    padding: 10px 10px;
    color: black;
    cursor: pointer;
}

.SorununBaslikAlani{
    width: 100%;
    height: 30px;
    padding-top: 10px;
    font-size: 14px;
    color: #000000;
    line-height: 1.5;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px dashed #CCCCCC;
    cursor: pointer;    
}

.SorununBaslikAlani:hover{
    background: #F1F1F1;
    cursor: pointer;    
}

.SorununCevapAlani{
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.5;   
}

.Slide{
    width: 80%;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.5;   
}

.YayinAlani{
    width: 100%;
    height: 30px;
    padding-top: 10px;
    font-size: 14px;
    color: #000000;
    line-height: 1.5;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
    border-bottom: 1px dashed #CCCCCC;
    cursor: pointer; 
    background: #F1F1F1;
}

.YayinAlani:hover{
    background: #F1F1F1;
    cursor: pointer;    
}

.SifremiUnutumFormu a:link,.SifremiUnutumFormu a:hover,.SifremiUnutumFormu a:active ,.SifremiUnutumFormu a:visited{
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetiaca, "sans-serif";
    font-size: 14px;
    color: #646464;
    line-height: 1.5;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
}
